.Container {
    flex: 1;
    padding: 20px;
}

.Heading {
    text-align: center;
}

.SkillsContainer {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.SubSkillsContainer {
    padding-left: 20px;
    border-left: 1px solid #ccc;
}

.SectionTitle {
    font-size: 18px;
    font-weight: bold;
}

.SkillRow {
    padding-top: 5px;
    padding-bottom: 5px;
}

.SkillName {
    margin-right: 20px;
}

.SkillRating {
    margin-right: 20px;
}

.Label {
    float: none;
    display: block;
    margin-right: 10px;
}

.TextInput {
    outline: none;
    background-color: #ffffff;
    display: block;
    border: none;
    border-bottom: 1px solid #cccccc;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
}

.ModalButtonContainer {
    margin: auto;
}

.Button {
    flex: 1;
    outline: none;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    margin: 20px;
    cursor: pointer;
    width: 80px;
}

.Icons {
    vertical-align: middle;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
    float: right;
}

.AddModal {
    width: 300px;
    height: auto;
    background-color: #ffffff;
    margin: auto;
    margin-top: 200px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: #f0f0f0 1px 1px 20px;
    border-color: #ffffff;
    outline: none;
    text-align: center;
}
